/* Template "https://codepen.io/ngthuongdoan/pen/wvWvbbj" + touche perso */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color: white;
  background: #2c302d;
  text-align: center;
  width: 100%;
}

.icon{
  text-decoration: none;
  font-size: 25px;
}

.img_logo{
  width: 10%;
}

.container {
  margin: 10px;
  text-align: -webkit-center;
}

.search{
  text-align: center;
}

.msg{
  padding: 50px 10px;
  line-height: 28px;
}

.valid_msg{
  text-decoration: none;
  width: 250px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  border: none;
}

.navigation{
  margin-left:auto;
  margin-right:auto;
  width: 100%;
    li{
    display: inline;
    margin-left:auto;
    text-decoration: none;
    color:white;
  }
}

.home_link{
  text-decoration: none;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  border: none;
}

.solo_card{
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  text-align: center;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

// COLOR by pokemon type

.type{
  display: inline-block;
}

.normal{
  background-color: grey;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.fire{
  background-color: orange;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.fighting{
  background-color: firebrick;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.water{
  background-color: rgb(0, 136, 255);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.flying{
  background-color: mediumslateblue;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.grass{
  background-color: rgba(13, 224, 13, 0.694);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.poison{
  background-color: rgb(139, 63, 139);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.electric{
  background-color: rgb(255, 217, 1);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.ground{
  background-color: violet;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.psychic{
  background-color: rgb(235, 56, 86);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.rock{
  background-color: rgba(146, 115, 28, 0.782);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.ice{
  background-color: rgb(108, 166, 224);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.bug{
  background-color: rgb(133, 196, 62);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.dragon{
  background-color: rgb(78, 29, 78);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.ghost{
  background-color: rgb(77, 54, 77);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.dark{
  background-color: rgb(32, 30, 32);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.steel{
  background-color: rgb(70, 70, 70);
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
.fairy{
    background-color: violet;
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: none;
}


.card {
  width: 60%;
  height: 80%;
  max-height: 300px;
  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
  &__container {
    display: grid;
    width:100%;
    height:100%;
    padding-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
  }
  &__content {
    width: 100%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  16px 16px 44px #0a0a0a, 
                -16px -16px 44px #282a28;
    transition: 0.3s all ease-in-out;
    &:hover{
      margin-top:-1px;
      background-color: rgb(72, 72, 72);
    }
  }
  &__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px auto;
  }
  &__img{
    width: auto;
  }
  &__link {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
}
